@daily /home/nas/archilab-backup/backup-gitlab-data.sh
@daily /home/nas/archilab-backup/backup-vault-data.sh
@daily /home/nas/archilab-backup/backup-docker-db.sh prox-prod prox-project-service project-db project-service project-db
@daily /home/nas/archilab-backup/backup-docker-db.sh prox-prod prox-module-service module-db module-service module-db
@daily /home/nas/archilab-backup/backup-docker-db.sh prox-dev prox-project-service project-db project-service project-db
@daily /home/nas/archilab-backup/backup-docker-db.sh prox-dev prox-module-service module-db module-service module-db
@daily /home/nas/archilab-backup/backup-docker-db.sh prox-gp-ws2019 prox-project-service project-db project-service project-db
@daily /home/nas/archilab-backup/backup-docker-db.sh prox-gp-ws2019 prox-module-service module-db module-service module-db
